html, body {
  height: 100%;
}
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mt-20 {
    margin-top: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-60 {
    margin-top: 60px;                                     
}

.full-width {
    width: 100%;
}

.ml-5 {
    margin-left: 5px;
}
.pink {
    background-color: #e91e63;
}
mat-card {
  border: none !important;
}